# airflow envs
AIRFLOW_HOME=/app/data/home
AIRFLOW__CORE__SQL_ALCHEMY_CONN=postgresql://<user>:<password>@db:5432/airflow
AIRFLOW__CORE__LOAD_EXAMPLES=false
AIRFLOW__LOGGING__LOGGING_LEVEL=INFO
AIRFLOW__LOGGING__FAB_LOGGING_LEVEL=WARNING
AIRFLOW__WEBSERVER__WORKERS=1
AIRFLOW__WEBSERVER__SECRET_KEY=true
APP_SECRET_KEY=<secret_key>

# postgres envs
POSTGRES_DB=airflow
POSTGRES_USER=<user>
POSTGRES_PASSWORD=<password>
