# minio envs
MINIO_ROOT_USER=<minio_user>
MINIO_ROOT_PASSWORD=<minio_pwd>
MINIO_HTTP_TRACE=/dev/stdout
MINIO_DOMAIN=minio:9000

# lakefs envs
LAKEFS_DATABASE_TYPE=postgres
LAKEFS_DATABASE_POSTGRES_CONNECTION_STRING=postgres://<db_user>:<db_pwd>@db:5432/<db>
LAKEFS_AUTH_ENCRYPT_SECRET_KEY=<lakefs_key>
LAKEFS_BLOCKSTORE_TYPE=s3
LAKEFS_BLOCKSTORE_S3_FORCE_PATH_STYLE=true
LAKEFS_BLOCKSTORE_S3_ENDPOINT=http://minio:9000
LAKEFS_BLOCKSTORE_S3_DISCOVER_BUCKET_REGION=false
LAKEFS_BLOCKSTORE_S3_CREDENTIALS_ACCESS_KEY_ID=<minio_user>
LAKEFS_BLOCKSTORE_S3_CREDENTIALS_SECRET_ACCESS_KEY=<minio_pwd>

# postgres envs
POSTGRES_DB=<db>
POSTGRES_USER=<db_user>
POSTGRES_PASSWORD=<db_pwd>
